<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>NakulUnit#2APFRQ</title>
    <link rel="stylesheet" href="/css/NakulFRQStyle.css">
</head>

<body>
    <h1 align="center"><strong>Unit #4 FRQ</strong></h1>

    <div class="code-header">
        <strong>QUESTION #1: </strong>
        The method longestStreak is intended to determine the longest substring of consecutive identical characters in the parameter str and print the result.
        For example, the call longestStreak("CCAAAAATTT!") should print the result "A 5" because the longest substring of consecutive identical characters is "AAAAA". <br> <br>
    </div>


    <div class="form">
        <form action="/ap-practice/nakul" method="get" id="consecutiveForm">
            <label for="strField">Enter a string:</label>
            <input type="text" id="strField" name="str"><br><br>
            <button>Submit</button>
        </form>
    </div>


    <div class="display">
        <p th:text="'Most Consecutive Character: ' + ${consecutiveChar}"></p>
        <p th:text="'Number of Characters: ' + ${consecutiveTotal}"></p>
    </div>

</body>

</html>