<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sara</title>
</head>
<body>
    <h1><strong>Sara</strong></h1>
    <div>
        <form action="/ap-practice/sara" method="GET" id="invitation">
        <label for="invitation">Hello! Will you be attending this event? Please enter 'true' for yes and 'false' for no.</label>
        <input name="rsvp" id="invitationF" type="text">
        <label for="invitation">If you are attending, please enter what selection you would like to choose: 1 for beef, 2 for chicken, 3 for pasta, and any integer from 4 to 9 for fish.</label>
        <input name="selection" id="invitationFor" type="text">
        <button>Submit</button>
    </form>
</div>