body {
    background-color: powderblue;
}
h1 {
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 300%;
}
.display {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 100%;
}
.code-header {
    color: #750000;
    font-family: Times, serif;
    font-size: 150%;
}
