<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythagoras Calculator Lab</title>
</head>

<body>
    <div class="form">
        <form id="frm1" action="/action_page.php">
            a: <input type="text" name="a"><br>
            b: <input type="text" name="b"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <p>Click "Calculate" to calculate the value of "c"</p>

    <button onclick="calculate()">Calculate</button>

    <p id="c"></p>

    <script>
        function calculate() {
            var form = document.getElementById("frm1");
            var text = "";
            var a;
            var b;
            var c;

            a = form.elements[0].value;
            b = form.elements[1].value;

            c = Math.sqrt((Math.pow(a, 2) + Math.pow(b, 2)));

            text += c;

            document.getElementById("c").innerHTML = text;
        }
    </script>
</body>
</html>