<!DOCTYPE html>
<html lang="en">
<header class="header">
    <body class="news">
    <header>
        <div class="nav">
            <ul>
                <li class="home"><a href="#">Home</a></li>
                <li class="about"><a class="active" href="#">About</a></li>
                <li class="ap"><a href="/ap-practice">AP</a></li>
                <li class="labs"><a href="/labs">LABS</a></li>
                <li class="news"><a href="#">Newsletter</a></li>
                <li class="contact"><a href="#">Contact</a></li>
            </ul>
        </div>
    </header>
    </body>
</header>
<body>

</body>
</html>