<nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <a class="navbar-brand" href="/">SpeedySalamanders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ap-frqs">AP Resources</a>
            </li>
        </ul>

    </div>

    <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-on="🌞" data-off="🌙" data-onstyle="secondary" data-offstyle="secondary" data-style="ios" id="theme-checkbox" class="theme-excempt">
</nav>

<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
  .toggle.ios .toggle-handle { border-radius: 20rem; }
</style>