<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <a class="navbar-brand" href="/">SpeedySalamanders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ap-frqs">AP Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pair-share">Pair Share</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bitcoin">Bitcoin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/readme">Docs</a>
            </li>
        </ul>

    </div>

    <span class="navbar-text px-4">
        <a href="https://github.com/nathanielCherian/spring-game" target="_blank"><span class="fa fa-github navbar-github"></span></a>
    </span>

    <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-on="🌞" data-off="🌙" data-onstyle="secondary" data-offstyle="secondary" data-style="ios" id="theme-checkbox" class="theme-excempt">
</nav>

<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
  .toggle.ios .toggle-handle { border-radius: 20rem; }


  .navbar-github{
    font-size: 1.75em;
    color: black !important;
  }

  .standard-link{
      color: inherit;
      text-decoration: inherit;
    }

    .standard-link:hover{
      color: inherit;
      text-decoration: inherit;
    }
</style>

<script>


    $(document).ready((event)=>{
        if(!getCookie("theme")) setCookie("theme", "light");
        const theme = getCookie("theme");

        console.log(theme);
        if(theme == "light"){
            $('#theme-checkbox').prop('checked', true);
            $("body").css("mix-blend-mode", "normal");
            $(".theme-excempt").css("mix-blend-mode", "normal");
        }else{
            $('#theme-checkbox').prop('checked', false);
            $("body").css("mix-blend-mode", "difference");
            $(".theme-excempt").css("mix-blend-mode", "difference");
        }

        console.log(document.cookie);
    });

    $('#theme-checkbox').change(function(){
        console.log("changed", this.checked);
        if(this.checked){
            setCookie("theme", "light")
            $("body").css("mix-blend-mode", "normal");
            $(".theme-excempt").css("mix-blend-mode", "normal");
        }else{
            setCookie("theme", "dark")
            $("body").css("mix-blend-mode", "difference");
            $(".theme-excempt").css("mix-blend-mode", "difference");
        }
    });

    const setCookie = (key, value) => {
        document.cookie = `${key}=${value};`;
    }

    const getCookie = (key) => {
      var name = key + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return null;
    }

</script>