<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AndrewAPFrq</title>
    <link rel="stylesheet" href="/css/Systling.css">
</head>
<body>
    <div class ="container1">
    <h1><strong>Andrew</strong></h1>
    <div class="box-1">
    <h2>this is the start of the second header</h2> <br>
        <p>
            class LightSequence
            {
            String seq;
            String newSeq;
            public LightSequence(String seq)
            {
            this.seq = seq;
            }
            public String insertSegment(String segment, int ind)
            { // implementation not shown
            String local = this.seq; //working with a local copy of the string
            String temp = local.substring(0,ind);
            local = temp.concat(segment+local);
            return local;
            }
            public void changeSequence(String seq)
            {
            this.seq =seq;
            }
            public void display()
            {
            System.out.println(seq);
            }
            public void remove(String oldSeq, String segment)
            {
            int start = oldSeq.indexOf(segment);
            if (start!=-1)
            {
            //this.newSeq = oldSeq.substring(start,start+segment.length()); if you want the removed section
            this.newSeq = oldSeq.substring(0,start);
            this.newSeq = this.newSeq.concat(oldSeq.substring(start+segment.length()));
            }
            else
            {
            System.out.println("sorry substring wasn't found in the original string");
            }
            return;
            }
            //double a vertical
            //double b horizontal
            public void printStraightline(double a, double b)
            {
            double display = Math.sqrt(((Math.pow(a,2))+(Math.pow(b,2))));
            System.out.println("The straight line distance is: "+display);
            }
            }
        </p>
    </div>
    </div>
    <form action="#" th:action="@{/frq1}" th:object="${StringStruct}" method="POST">
        field1:  <input type="text" name="field1" th:field="*{field1}"/><br/>
        field2: <input type="text" name="field1" th:field="*{field2}"/><br/>
        field3: <input type="text" name="field1" th:field="*{field3}"/><br/>
        anInt1: <input type="text" name="field1" th:field="*{anInt1}"/><br/>
        anInt2: <input type="text" name="field1" th:field="*{anInt2}"/><br/>
        <button name="submit" type="submit" value="0">Submit</button>
        <button name="submit2" type="submit" value="1" th:formmethod="GET">Second</button>
    </form>
</body>
</html>